body {
    background: #1E1E1E;
}

#nav {
    background-color: #363636;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
}

#links {
    padding-top: 10px;
    padding-left: 50px;
}

#links a {
    color: #dfdfdf;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-right: 15px;
}

#links a:hover {
    color: #aaa9a9;
}

#links a:visited {
    color: #9e9e9e;
}

#links a:active {
    color: #aaa9a9;
}

#header h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #dfdfdf;
    margin-left: 50px;
}

#forms {
    position: fixed;
    top: 40%;
    left: 40%;
}

#image_upload {
    float: left; 
    color: #dfdfdf;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
}

#submit {
    border: 1px solid #363636;
    border-radius: 3px;
}

#text {
    width: 400px;
    position: fixed;
    top: 30%;
    left: 40%;
}

#text p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #dfdfdf;
}

#signup {
    position: fixed;
    top: 30%;
    left: 40%;
}

#signup input {
    margin-bottom: 5px;
    float: right;
    width: 250px;
    height: 30px;
}

#signup label {
    float: left;
    color: #dfdfdf;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
}

#buttons {
    position: fixed;
    top: 55%;
    left: 43%;
}

#buttons #submit2 {
    margin-right: 40px;
}

#header2 h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #dfdfdf;
    position: fixed;
    top: 20%;
    left: 44%;
}